<form class="Login" action="/login" method="POST">
  <span>Please fill out your login details</span>
  <input
  type="text"
  name="email"
  placeholder="Email"
  style="width: 150px; margin: 1"
/>
<input
  type="text"
  name="password"
  placeholder="Password"
  style="width: 150px; margin: 1"
/>
<button type="submit" class="btn btn-primary">Login</button>
</form>